<%include partials/header.ejs%>
<style>
    .reg {
        font-family: Righteous;
        color: white !important;
    }
</style>
<div class="main_div">
    <form action="/register" method="POST">
        <img style="display: block;margin:auto;width:200px;"
            src="http://getdrawings.com/free-icon/phone-icon-png-transparent-70.png">
        
        <input name="email" class="form-control" placeholder="email" type="email">
        <input name="password" class="form-control" placeholder="Password" type="password">
        <Button class=" reg btn btn-block btn-warning" type="submit">Sign in</Button>
    </form>
</div>
<%include partials/footer.ejs%>